<html>
    <head>
        <meta http-equiv="refresh" content="5" >
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <h1>
            <%= subscribers %>
        </h1>
    </body>
</html>

