<html>
    <head>
        <meta http-equiv="refresh" content="60" >
        <style>
            h1 {
                font-family: Arial;
                font-size: 100;
                text-align: center;
                color: white;
            }

            body {
                background-color: #00b140;
            }
        </style>
    </head>
    <body>
        <h1>
            <%= subscribers %>
        </h1>
    </body>
</html>

