<!DOCTYPE html>
<html>
    <%- include("./partials/head.ejs") %>
<head>

</head>
    <body>
        <p> Go to console and follow the steps there, when token has been created, press the button below </p>
        <form action="/subcount" method="get">
            <input type="submit" value="NEXT">
        </form> 
    </body>
</html>
