<!DOCTYPE html>
<html>
    <%- include("./partials/head.ejs") %>
<head>

</head>
    <body>
        <ol>
            <li>If you don't already have a token.JSON, go to console and follow the steps there, when token has been created or you already have one, press the button below. </li>
            <li>When you press the button the <b>BOT STARTS</b> and you subscriber count will show up, this you can display in your OBS.</li>
          </ol>  
        <form action="/subcount" method="get">
            <input type="submit" value="NEXT">
        </form> 
    </body>
</html>
